@import "import/colors";
@import "import/fonts";
@import "import/mixins";

.rules {
  li{
    @extend %font16px;
    @extend %fontShadow;
    padding-bottom: 25px;

    @include mobile-l {
      padding-bottom: 50px;
    }

    @include screen-laptop {
      font-size: 24px !important;
      font-weight: 600 !important;
    }

    &:last-child{
      padding-bottom: 0;
    }
  }
}