@import "import/colors";
@import "import/fonts";
@import "import/mixins";

.footer {
  background: $White;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    height: 50px;
  }

  &__content {
    @extend .section__content;
    @extend %font12px;
    padding-bottom: 0;
  }

  &__logo {
    img {
      height: 20px;
      object-fit: cover;

      @include tablet {
        height: 30px;
      }
    }
  }
}
