@import "../import/fonts";
@import "../import/colors";

body {
  background: $Black;
}

.section {
  &__title {
    @extend %font64px;
    @extend %fontShadow;
    max-width: 1200px;
    padding: 100px 36px;
    margin: 0 auto;
  }
  &__content {
    position: relative;
    max-width: 1200px;
    padding: 0 36px 100px;
    margin: 0 auto;
  }
}