@import "../import/colors";
@import "../import/fonts";
@import "../import/mixins";

.cards-slider {
  position: relative;
  display: flex;
  align-items: center;

  .cards-slider__control {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: rgba(0,0,0,0);

    &--left {
      display: none;

      @include mobile-l {
        display: block;
        padding-right: 10px;
      }
    }

    &--right {
      display: none;

      @include mobile-l {
        display: block;
        padding-left: 10px;
      }
    }
  }

  .cards-list {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;

    .card {
      flex: 0 0 calc((100% / 1) - 10px); // -10px because each element has margin-right 10px
      scroll-snap-align: start;

      @include tablet {
        flex: 0 0 calc((100% / 2) - 10px);
      }

      @include screen-laptop {
        flex: 0 0 calc((100% / 3) - 10px);
      }

      &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-right: 10px;
        border-radius: 50px;
        background: rgba($GrayLight, 0.1);
        backdrop-filter: blur(5px);
        min-height: 100%;
      }

      &__image {
        img {
          max-width: 200px;
          object-fit: cover;
          border-radius: 50px;

          @include mobile-l {
            max-width: 250px;
          }

          @include tablet {
            max-width: 290px;
          }
        }
      }

      &__description {
        @extend %font16px;
        @extend %fontShadow;
        text-align: center;
        padding: 0 0 20px;
        max-width: 200px;

        @include mobile-l {
          font-size: 24px !important;
        }
      }
    }
  }
}

