@import "import/colors";
@import "import/fonts";

.header {
  @extend %font16px;

  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba($GrayDark, 0.1);
  backdrop-filter: blur(10px);

  &__content {
    @extend .section__content;

    max-width: 1200px;
    padding: 0 36px;
    margin: 0 auto;
  }

  &__navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }

  &__links {
    display: flex;
    justify-content: flex-start;
  }

  &__link {
    padding-right: 10px;
  }

  &__logo {
    padding: 10px 0;
    justify-self: center;
  }

  &__user-icon {
    justify-self: end;
  }
}
