/* 
Tripoli Reset
http://devkick.com/lab/tripoli/
*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1em;
  outline: none;
}

code, kbd, samp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext {
  font: inherit;
  font-size: 1em;
  white-space: normal;
}

dfn, i, cite, var, address, em {
  font-style: normal;
}

th, b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet, table {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td, center {
  text-align: left;
  vertical-align: top;
}

body {
  line-height: 1;
  background: white;
  color: black;
}

q {
  quotes: "" "";
}

ul, ol, dir, menu {
  list-style: none;
}

sub, sup {
  vertical-align: baseline;
}

a {
  color: inherit;
}

hr {
  display: none;
} /* we don't need a visual hr in layout */
/* disables some nasty font attributes in standard browsers */
font {
  color: inherit !important;
  font: inherit !important;
}

marquee {
  overflow: inherit !important;
  -moz-binding: none;
}

blink {
  text-decoration: none;
}

nobr {
  white-space: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("Helvetica.eot");
  src: local("Helvetica"), url("Helvetica.eot?#iefix") format("embedded-opentype"), url("Helvetica.woff2") format("woff2"), url("Helvetica.woff") format("woff"), url("Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("Helvetica-Oblique.eot");
  src: local("Helvetica Oblique"), local("Helvetica-Oblique"), url("Helvetica-Oblique.eot?#iefix") format("embedded-opentype"), url("Helvetica-Oblique.woff2") format("woff2"), url("Helvetica-Oblique.woff") format("woff"), url("Helvetica-Oblique.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("Helvetica-BoldOblique.eot");
  src: local("Helvetica Bold Oblique"), local("Helvetica-BoldOblique"), url("Helvetica-BoldOblique.eot?#iefix") format("embedded-opentype"), url("Helvetica-BoldOblique.woff2") format("woff2"), url("Helvetica-BoldOblique.woff") format("woff"), url("Helvetica-BoldOblique.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("Helvetica-Light.eot");
  src: local("Helvetica Light"), local("Helvetica-Light"), url("Helvetica-Light.eot?#iefix") format("embedded-opentype"), url("Helvetica-Light.woff2") format("woff2"), url("Helvetica-Light.woff") format("woff"), url("Helvetica-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("Helvetica-Bold.eot");
  src: local("Helvetica Bold"), local("Helvetica-Bold"), url("Helvetica-Bold.eot?#iefix") format("embedded-opentype"), url("Helvetica-Bold.woff2") format("woff2"), url("Helvetica-Bold.woff") format("woff"), url("Helvetica-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("Helvetica-LightOblique.eot");
  src: local("Helvetica Light Oblique"), local("Helvetica-LightOblique"), url("Helvetica-LightOblique.eot?#iefix") format("embedded-opentype"), url("Helvetica-LightOblique.woff2") format("woff2"), url("Helvetica-LightOblique.woff") format("woff"), url("Helvetica-LightOblique.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
.about__title-text {
  font-size: 124px;
  font-family: Helvetica, serif;
  font-weight: 700;
  color: #f2f2f2;
}

.about__main-title, .section__title {
  font-size: 64px;
  font-family: Helvetica, serif;
  font-weight: 600;
  color: #f2f2f2;
}

.about__main-text, .about__title-location {
  font-size: 32px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
}

.cards-list .card__description {
  font-size: 24px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
}

.header {
  font-size: 16px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
}

.about__title-text {
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.65);
}

.about__main-text, .about__main-title, .about__title-location, .cards-list .card__description, .section__title {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}

.about__title-text {
  font-size: 124px;
  font-family: Helvetica, serif;
  font-weight: 700;
  color: #f2f2f2;
}

.about__main-title, .section__title {
  font-size: 64px;
  font-family: Helvetica, serif;
  font-weight: 600;
  color: #f2f2f2;
}

.about__main-text, .about__title-location {
  font-size: 32px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
}

.cards-list .card__description {
  font-size: 24px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
}

.header {
  font-size: 16px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
}

.about__title-text {
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.65);
}

.about__main-text, .about__main-title, .about__title-location, .cards-list .card__description, .section__title {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}

section {
  position: relative;
  padding-bottom: 100px;
}

.section__title {
  max-width: 1200px;
  padding: 100px 36px;
  margin: 0 auto;
}
.section__content {
  max-width: 1200px;
  padding: 0 36px;
  margin: 0 auto;
}

.about__title-text {
  font-size: 124px;
  font-family: Helvetica, serif;
  font-weight: 700;
  color: #f2f2f2;
}

.about__main-title, .section__title {
  font-size: 64px;
  font-family: Helvetica, serif;
  font-weight: 600;
  color: #f2f2f2;
}

.about__main-text, .about__title-location {
  font-size: 32px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
}

.cards-list .card__description {
  font-size: 24px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
}

.header {
  font-size: 16px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
}

.about__title-text {
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.65);
}

.about__main-text, .about__main-title, .about__title-location, .cards-list .card__description, .section__title {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}

.cards-list {
  display: flex;
  overflow: hidden;
}
.cards-list .card {
  flex: 0 0 auto;
  margin-right: 20px;
  scroll-snap-align: start;
}
.cards-list .card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  background: rgba(166, 166, 166, 0.1);
  backdrop-filter: blur(5px);
  min-height: 100%;
}
.cards-list .card__image img {
  max-width: 290px;
  object-fit: cover;
}
.cards-list .card__description {
  text-align: center;
  font-size: 24px;
  padding: 10px 20px 30px 20px;
  max-width: 270px;
}

.about__title-text {
  font-size: 124px;
  font-family: Helvetica, serif;
  font-weight: 700;
  color: #f2f2f2;
}

.about__main-title, .section__title {
  font-size: 64px;
  font-family: Helvetica, serif;
  font-weight: 600;
  color: #f2f2f2;
}

.about__main-text, .about__title-location {
  font-size: 32px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
}

.cards-list .card__description {
  font-size: 24px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
}

.header {
  font-size: 16px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
}

.about__title-text {
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.65);
}

.about__main-text, .about__main-title, .about__title-location, .section__title, .cards-list .card__description {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(38, 38, 38, 0.1);
  backdrop-filter: blur(10px);
}
.header__content {
  max-width: 1200px;
  padding: 0 36px;
  margin: 0 auto;
}
.header__navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.header__links {
  display: flex;
  justify-content: flex-start;
}
.header__link {
  padding-right: 10px;
}
.header__logo {
  padding: 10px 0;
  justify-self: center;
}
.header__user-icon {
  justify-self: end;
}

.about__title-text {
  font-size: 124px;
  font-family: Helvetica, serif;
  font-weight: 700;
  color: #f2f2f2;
}

.about__main-title, .section__title {
  font-size: 64px;
  font-family: Helvetica, serif;
  font-weight: 600;
  color: #f2f2f2;
}

.about__main-text, .about__title-location {
  font-size: 32px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
}

.cards-list .card__description {
  font-size: 24px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
}

.header {
  font-size: 16px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
}

.about__title-text {
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.65);
}

.about__main-text, .about__main-title, .about__title-location, .section__title, .cards-list .card__description {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}

.about {
  min-height: 100vh;
  background: url(/source/background/about.jpg) no-repeat center/cover;
}
.about__title {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.about__main {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "main-title image-vertical" "main-text image-vertical" "image-horizontal image-vertical";
  gap: 10px;
  justify-self: center;
  grid-auto-flow: dense;
}
.about__main-title {
  grid-area: main-title;
}
.about__main-text {
  grid-area: main-text;
}
.about__main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__main-image-vertical {
  grid-area: image-vertical;
  overflow: hidden;
  border-radius: 40px 80px 80px 40px;
}
.about__main-image-horizontal {
  grid-area: image-horizontal;
  overflow: hidden;
  border-radius: 80px 40px 40px 80px;
}

.about__title-text {
  font-size: 124px;
  font-family: Helvetica, serif;
  font-weight: 700;
  color: #f2f2f2;
}

.section__title, .about__main-title {
  font-size: 64px;
  font-family: Helvetica, serif;
  font-weight: 600;
  color: #f2f2f2;
}

.about__title-location, .about__main-text {
  font-size: 32px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
}

.cards-list .card__description {
  font-size: 24px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
}

.header {
  font-size: 16px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
}

.about__title-text {
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.65);
}

.section__title, .cards-list .card__description, .about__title-location, .about__main-title, .about__main-text {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}

.instruments {
  background: url(/source/background/instruments.jpg) no-repeat center/cover;
}

/*# sourceMappingURL=style.css.map */
